{{ $sz := . | len }}
{{range .}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}}) implements {{.OperationId}}
func handleRequest(ctx context.Context, request events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {

return events.APIGatewayProxyResponse{}, nil
}

{{end}}

func main() {
	lambda.Start(handleRequest)
}